In [40]:
import pandas as pd

iris_data = pd.read_csv('./Iris.csv')

In [41]:
iris_data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [42]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [43]:
y = iris_data['Species']

In [44]:
# Remove Id column 
iris_data = iris_data.drop("Id", axis=True)

In [45]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [46]:
# count the number of flowers for each species.
iris_data.groupby('Species').count()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                 50            50             50            50
Iris-versicolor             50            50             50            50
Iris-virginica              50            50             50            50

In [47]:
def convertToDigit(flower_type):
    
    if (flower_type == "Iris-setosa"):
        return 0
    elif (flower_type == "Iris-versicolor"):
        return 1
    elif (flower_type == "Iris-virginica"):
        return 2
    


iris_data['Species'] = iris_data['Species'].apply(convertToDigit)

In [48]:
y = iris_data['Species']

In [49]:
iris_data = iris_data.drop("Species", axis=True)

In [50]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [59]:
import random
def train_test_split(X_data, Y_data, test_size: None | float = None, train_size: None | float = None, shuffle: bool = True, random_state: None | int = None ) -> list:
    
    
    
    if len(X_data) != len(Y_data):
        raise Exception("list size does not match")
    

    X_train = []
    X_test = []
    y_train = []
    y_test = []
    
    if shuffle or random_state is not None:
        if random_state is not None:
            random.seed(random_state)
        # combine the two list togther and then (column based) all rows included with random state if is not none
        all = pd.concat([X_data, Y_data], axis=1).sample(frac=1, random_state=random_state).reset_index(drop=True)
        X_data, Y_data = all.iloc[:, :-1], all.iloc[:, -1] 
        
        
    train_index = 0    
    if test_size is not None and train_size is not None:
        if train_size + test_size != 1:
            raise Exception("percentages are invalid")
        else:
            train_index = int(len(X_data) * train_size)  
 
    elif test_size is None and train_size is None:
        test_size = 0.2
        train_size = 0.8
        train_index = int(len(X_data) * train_size)
        
    elif test_size is not None:
        train_size = 1 - test_size
        print(test_size)
        print(train_size)
        train_index = int(len(X_data) * train_size)
         
    elif train_size is not None:
        test_size = 1 - train_size
        train_index = int(len(X_data) * train_size)
        
 
    X_train, X_test = X_data.iloc[:train_index, :], X_data.iloc[train_index:, :]
    y_train, y_test = Y_data.iloc[:train_index], Y_data.iloc[train_index:]   
    
    return X_train, X_test, y_train, y_test    
    


X_train, X_test, y_train, y_test = train_test_split(iris_data, y, train_size=.75, random_state=42) # work
# X_train, X_test, y_train, y_test = train_test_split(iris_data, y, test_size=.25) # work
# X_train, X_test, y_train, y_test = train_test_split(iris_data, y, train_size=.75, test_size=.25) # work
# X_train, X_test, y_train, y_test = train_test_split(iris_data, y, test_size=.3,train_size=.75) # should give a error

[referenece](https://stackoverflow.com/questions/49556753/how-to-slice-a-list-into-3-parts-based-on-percentage)

In [60]:
print(f"Train data size: {len(X_train)}")
print(f"test data size: {len(X_test)}")
print(f"target data of train data size: {len(y_train)}")
print(f"target data of train data size: {len(y_test)}")

Train data size: 112
test data size: 38
target data of train data size: 112
target data of train data size: 38