In [24]:
import pandas as pd
iris_data = pd.read_csv('./Iris.csv')

In [28]:
iris_data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [30]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
y = iris_data['Species']

In [34]:
# Remove Id column 
iris_data = iris_data.drop("Id", axis=True)

In [36]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
# count the number of flowers for each species.
iris_data.groupby('Species').count()

                 SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa                 50            50             50            50
Iris-versicolor             50            50             50            50
Iris-virginica              50            50             50            50

In [40]:
def convertToDigit(flower_type):
    
    if (flower_type == "Iris-setosa"):
        return 0
    elif (flower_type == "Iris-versicolor"):
        return 1
    elif (flower_type == "Iris-virginica"):
        return 2
    


iris_data['Species'] = iris_data['Species'].apply(convertToDigit)

In [42]:
y = iris_data['Species']

In [44]:
iris_data = iris_data.drop("Species", axis=True)

In [46]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [131]:
import random
def train_validate_test_split(X_data, Y_data, test_size: None | float = None,validate_size: None | float = None, train_size: None | float = None, shuffle: bool = True, random_state: None | int = None ) -> list:
    
    
    
    if len(X_data) != len(Y_data):
        raise Exception("list size does not match")
    

    X_train = []
    X_test = []
    X_validate = []
    y_train = []
    y_test = []
    y_validate = []
    
    if shuffle or random_state is not None:
        if random_state is not None:
            random.seed(random_state)
        # combine the two list togther and then (column based) all rows included with random state if is not none
        all = pd.concat([X_data, Y_data], axis=1).sample(frac=1, random_state=random_state).reset_index(drop=True)
        X_data, Y_data = all.iloc[:, :-1], all.iloc[:, -1] 
        
        
    train_index = 0    
    if test_size is not None and validate_size is not None and train_size is not None:
        if train_size + test_size + validate_size != 1:
            raise Exception("percentages are invalid")
        else:
            train_index = int(len(X_data) * train_size)  
 
    elif test_size is None and validate_size is None and train_size is None:
        test_size = 0.3
        validate_size = 0.3
        train_size = 0.4
        train_index = int(len(X_data) * train_size)
        
    elif test_size is not None:
        validate_size=validate_size or 0
        train_size = 1 - test_size + validate_size
        print(test_size)
        print(validate_size)
        print(train_size)
        train_index = int(len(X_data) * train_size)
         
    elif train_size is not None:
        validate_size=validate_size or 0
        test_size = 1 - train_size + validate_size
        train_index = int(len(X_data) * train_size)
        

    validate_index = train_index + int(len(X_data) * validate_size)
    X_train,X_validate, X_test = X_data.iloc[:train_index, :],X_data.iloc[train_index:validate_index,:], X_data.iloc[validate_index:, :]
    y_train,y_validate, y_test = Y_data.iloc[:train_index],Y_data.iloc[train_index:validate_index], Y_data.iloc[validate_index:]   
    
    return X_train,X_validate, X_test, y_train,y_validate, y_test    
    
y

X_train,X_validate, X_test, Y_train,Y_validate, Y_test = train_validate_test_split(iris_data, y, train_size=.75,validate_size=0.12, random_state=42) # work
# X_train, X_test, y_train, y_test = train_test_split(iris_data, y, test_size=.25) # work
# X_train, X_test, y_train, y_test = train_test_split(iris_data, y, train_size=.75, test_size=.25) # work
# X_train, X_test, y_train, y_test = train_test_split(iris_data, y, test_size=.3,train_size=.75) # should give a error

[referenece](https://stackoverflow.com/questions/49556753/how-to-slice-a-list-into-3-parts-based-on-percentage)

In [143]:
print(f"Train data size: {len(X_train)}")
print(f"Train validate data size: {len(X_validate)}")
print(f"test data size: {len(X_test)}")
print(f"target data of train data size: {len(Y_train)}")
print(f"target data of validate size: {len(Y_validate)}")
print(f"target data of test data size: {len(Y_test)}")

Train data size: 112
Train validate data size: 18
test data size: 20
target data of train data size: 112
target data of validate size: 18
target data of test data size: 20

In [147]:
from sklearn.naive_bayes import GaussianNB
model= GaussianNB()
model.fit(X_train,Y_train)
model.predict(X_test)

array([2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 1, 1, 2, 2, 0, 1, 1, 0, 1, 2],
      dtype=int64)